/* #region IMPORT */

@import url(../_partials/variables.css);

/* #endregion */

/* #region BODY */

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* #endregion */

/* #region HEADER */

#logo {
  width: 2.5rem;
  height: 2.5rem;
}

header {
  height: 70px;
}

.dg-form-control:focus {
  border-color: #dee2e6;
}

.dg-bell-color {
  color: var(--bell-color);
}

nav .offcanvas.dg-w800 {
  width: 100vw;
}

/* #endregion */

/* #region MAIN */

main {
  background-color: #f8f9fa;
  height: calc(100vh - 70px);
}

/* Sidebar */
main div.dg-sidebar {
  width: 70px;

  background-color: #051e34;
  background-image: url('../img/sidebar-bg.png');
}

/* Main content */
main .dg-status-bar {
  background-color: #1b72e8;
}

main .dg-background-breadcrumb {
  background-color: #165bba;
  border-radius: 30px;
}

main .breadcrumb {
  --bs-breadcrumb-divider: '';
  font-size: 12px;
}

main .row .table img {
  width: 1.875rem;
  height: 1.875rem;
}

main .card:last-child img {
  max-width: 33.125rem;
}

/* #endregion */

/* #region MEDIA QUERIES */

@media screen and (min-width: 768px) {
  nav .offcanvas.dg-w800 {
    width: 800px;
  }
}

@media screen and (min-width: 1200px) {
  main div.dg-sidebar {
    width: 150px;
    flex: initial;
  }
}

/* #endregion */
